<h1 style="color: white; font-weight: 900; text-align: center" >TÍTULO PRINCIPAL MUY GRUESO</h1>

In [4]:
# CELDA 1 - Importar librerías necesarias
import pandas as pd
import numpy as np
from datetime import datetime

In [31]:
print(customer_df.head())
print("customer_df: ",customer_df.shape[0],"x",customer_df.shape[1] )

print(sales_df.head())
print("sales_df: ",sales_df.shape[0],"x",sales_df.shape[1] )

  customer_id  gender   age payment_method
0     C241288  Female  28.0    Credit Card
1     C111565    Male  21.0     Debit Card
2     C266599    Male  20.0           Cash
3     C988172  Female  66.0    Credit Card
4     C189076  Female  53.0           Cash
Cantidad de registros customer_df:  99457 x 4
  invoice_no customer_id  category  quantity    price invoice_date  \
0    I138884     C241288  Clothing         5  1500.40   05-08-2022
1    I317333     C111565     Shoes         3  1800.51   12-12-2021
2    I127801     C266599  Clothing         1   300.08   09-11-2021
3    I173702     C988172     Shoes         5  3000.85   16-05-2021
4    I337046     C189076     Books         4    60.60   24-10-2021

    shopping_mall
0          Kanyon
1  Forum Istanbul
2       Metrocity
3    Metropol AVM
4          Kanyon
Cantidad de registros sales_df:  99457 x 7

<p>
  <span style="color:whiten; font-size: 24px; font-weight: bold;">
  se agrega crea ambos data frame y se concateade
  </span>
</p>

In [8]:



# 1.1 Cargar los archivos CSV en DataFrames distintos
customer_df = pd.read_csv('customer_data.csv')
sales_df = pd.read_csv('sales_data.csv')

# 1.2 Mostrar las primeras filas para verificar la carga
print("Datos de clientes:")
#print(customer_df.head(10))
print("\nDatos de ventas:")
#print(sales_df.head(10))

# 1.3 Describir el proceso de extracción
print("\nInformación de los DataFrames:")
#print(customer_df.info())
#print(sales_df.info())

# 1.4 Concatenar ambos DataFrames (usando merge por el campo común 'customer_id')
merged_df = pd.merge(sales_df, customer_df, on='customer_id', how='inner')
print("\nDataFrame combinado (ventas + clientes):")
print(merged_df.head(20))

Datos de clientes:

Datos de ventas:

Información de los DataFrames:

DataFrame combinado (ventas + clientes):
   invoice_no customer_id         category  quantity    price invoice_date  \
0     I138884     C241288         Clothing         5  1500.40   05-08-2022
1     I317333     C111565            Shoes         3  1800.51   12-12-2021
2     I127801     C266599         Clothing         1   300.08   09-11-2021
3     I173702     C988172            Shoes         5  3000.85   16-05-2021
4     I337046     C189076            Books         4    60.60   24-10-2021
5     I227836     C657758         Clothing         5  1500.40   24-05-2022
6     I121056     C151197        Cosmetics         1    40.66   13-03-2022
7     I293112     C176086         Clothing         2   600.16   13-01-2021
8     I293455     C159642         Clothing         3   900.24   04-11-2021
9     I326945     C283361         Clothing         2   600.16   22-08-2021
10    I306368     C240286  Food & Beverage         2    10.46   25-12-2022
11    I139207     C191708            Books         1    15.15   28-10-2022
12    I640508     C225330             Toys         4   143.36   31-07-2022
13    I179802     C312861         Clothing         2   600.16   17-11-2022
14    I336189     C555402         Clothing         2   600.16   03-06-2022
15    I688768     C362288            Shoes         5  3000.85   07-11-2021
16    I294687     C300786            Books         2    30.30   16-01-2021
17    I195744     C330667  Food & Beverage         3    15.69   05-01-2022
18    I993048     C218149         Clothing         2   600.16   26-07-2021
19    I992454     C196845             Toys         4   143.36   07-03-2023

        shopping_mall  gender   age payment_method
0              Kanyon  Female  28.0    Credit Card
1      Forum Istanbul    Male  21.0     Debit Card
2           Metrocity    Male  20.0           Cash
3        Metropol AVM  Female  66.0    Credit Card
4              Kanyon  Female  53.0           Cash
5      Forum Istanbul  Female  28.0    Credit Card
6        Istinye Park  Female  49.0           Cash
7    Mall of Istanbul  Female  32.0    Credit Card
8           Metrocity    Male  69.0    Credit Card
9              Kanyon  Female  60.0    Credit Card
10          Metrocity  Female  36.0           Cash
11  Emaar Square Mall  Female  29.0    Credit Card
12          Metrocity  Female  67.0     Debit Card
13        Cevahir AVM    Male  25.0           Cash
14             Kanyon  Female  67.0    Credit Card
15     Viaport Outlet    Male  24.0    Credit Card
16          Metrocity    Male  65.0     Debit Card
17       Zorlu Center  Female  42.0    Credit Card
18       Metropol AVM  Female  46.0           Cash
19        Cevahir AVM    Male  24.0           Cash

## <span style="color: #FF8C00;">➡️ Título de la Sección de Limpieza</span>
<div style="text-align: center;">
  <span style="color: green; font-weight: bold; font-size: 20px;">
    ¡Texto importante, centrado y en negrita verde!
  </span>
</ 
<h4 style="color: #008080; font-weight: 700;">
    Subtítulo con Estilo Teal (H4 Personalizado)
</h
<p>
  <span style="color: #333333;">Este es un párrafo de descripción normal para explicar el código de abajo.</span>
  <br> 
  **¡Importante!** *Asegúrate de ejecutar la celda antes de continuar.*
</p>4>div>

In [7]:
# 1. Crear una máscara booleana para identificar a TODOS los customer_id duplicados
#    (keep=False marca la primera, la última y todas las ocurrencias repetidas)
mascara_clientes_repetidos = merged_df.duplicated(subset=['customer_id'], keep=False)

# 2. Usar esa máscara para filtrar el DataFrame y obtener solo las filas deseadas
clientes_con_mas_de_una_compra = merged_df[mascara_clientes_repetidos]

# 3. Mostrar el resultado
print("Filas completas de los clientes que han comprado más de una vez:")
print(clientes_con_mas_de_una_compra)
# 1. Contar cuántas veces aparece cada customer_id
conteo_ids = merged_df['customer_id'].value_counts()

# 2. Filtrar para ver solo aquellos IDs con un conteo mayor a 1
ids_repetidos_confirmados = conteo_ids[conteo_ids > 1]

print("Conteo de IDs de clientes que compraron más de una vez:")
print(ids_repetidos_confirmados)

# 1. Contar cuántas veces aparece cada invoice_no
conteo_invoices = merged_df['invoice_no'].value_counts()

# 2. Filtrar para ver solo aquellos invoice_no con un conteo mayor a 1 (es decir, que están repetidos)
invoices_repetidas_confirmadas = conteo_invoices[conteo_invoices > 1]

print("Conteo de números de factura (invoice_no) que se repiten:")
print(invoices_repetidas_confirmadas)

Filas completas de los clientes que han comprado más de una vez:
Empty DataFrame
Columns: [invoice_no, customer_id, category, quantity, price, invoice_date, shopping_mall, gender, age, payment_method]
Index: []
Conteo de IDs de clientes que compraron más de una vez:
Series([], Name: count, dtype: int64)
Conteo de números de factura (invoice_no) que se repiten:
Series([], Name: count, dtype: int64)

In [26]:
#  Guardar el DataFrame en formato Excel
customer_df.to_excel('customer_excel.xlsx', index=False)
sales_df.to_excel('sales_excel.xlsx', index=False)
merged_df.to_excel('merged_excel.xlsx', index=False)

In [43]:
# 1. CONSULTA DE NULOS (Buena práctica para saber cuántos se eliminarán)
print("\nValores nulos por columna ANTES de limpiar:")
print(merged_df.isnull().sum()) # Nos dice cuántos nulos hay en 'age'

# 2. CONTEO INICIAL
# Usa merged_df.shape[0] para el número total de filas, incluyendo nulos
print("INICIO--- cantidad total de filas: ", merged_df.shape[0]) 

# 3. LIMPIEZA
merged_df = merged_df.dropna()

# 4. CONTEO FINAL
# Cuenta el número de filas en el DataFrame limpio
print("FIN----cantidad total de filas: ", merged_df.shape[0]) 

# 5. VERIFICACIÓN FINAL
print("\nValores nulos por columna DESPUÉS de limpiar:")
print(merged_df.isnull().sum())

Valores nulos por columna ANTES de limpiar:
invoice_no          0
customer_id         0
category            0
quantity            0
price               0
invoice_date        0
shopping_mall       0
gender              0
age               119
payment_method      0
dtype: int64
INICIO--- cantidad total de filas:  99457
FIN----cantidad total de filas:  99338

Valores nulos por columna DESPUÉS de limpiar:
invoice_no        0
customer_id       0
category          0
quantity          0
price             0
invoice_date      0
shopping_mall     0
gender            0
age               0
payment_method    0
dtype: int64

In [31]:
# 2.1 Limpieza de valores nulos
print("\nValores nulos por columna:")
print(merged_df.isnull().sum())
merged_df = merged_df.dropna()  # eliminar filas con datos nulos



# 2.2 Estandarizar formato de fecha (24-10-2021)--> (2022-05-08)
merged_df['invoice_date'] = pd.to_datetime(merged_df['invoice_date'], errors='coerce')
print(merged_df['invoice_date'])

# 2.3 Calcular monto total por venta
merged_df['total_price'] = merged_df['quantity'] * merged_df['price']

# 2.4 Determinar el modo de pago más frecuente (global)
most_common_payment = merged_df['payment_method'].mode()[0]
print(f"\nModo de pago más frecuente: {most_common_payment}")

# 2.5 Modo de pago más frecuente por género
payment_by_gender = merged_df.groupby('gender')['payment_method'].agg(lambda x: x.mode()[0])
print("\nModo de pago más frecuente por género:")
print(payment_by_gender)

# 2.6 Métodos de pago en el rango etario 25–35 años
payment_age_range = merged_df[(merged_df['age'] >= 25) & (merged_df['age'] <= 35)]
payment_by_age = payment_age_range['payment_method'].value_counts()
print("\nMétodos de pago entre 25 y 35 años:")
print(payment_by_age)

# 2.7 Precios promedio por categoría de productos
avg_price_category = merged_df.groupby('category')['price'].mean().sort_values(ascending=False)
print("\nPrecio promedio por categoría:")
print(avg_price_category)

Valores nulos por columna:
invoice_no        0
customer_id       0
category          0
quantity          0
price             0
invoice_date      0
shopping_mall     0
gender            0
age               0
payment_method    0
total_price       0
dtype: int64
INICIO--- cantidad datos año;  99338
FIN----cantidad datos año;  99338
0       2022-05-08
1       2021-12-12
2       2021-09-11
8       2021-04-11
14      2022-03-06
           ...
99442   2021-01-02
99445   2021-07-05
99446   2023-05-02
99449   2023-01-01
99451   2021-09-10
Name: invoice_date, Length: 39987, dtype: datetime64[ns]

Modo de pago más frecuente: Cash

Modo de pago más frecuente por género:
gender
Female    Cash
Male      Cash
Name: payment_method, dtype: object

Métodos de pago entre 25 y 35 años:
payment_method
Cash           3777
Credit Card    2985
Debit Card     1685
Name: count, dtype: int64

Precio promedio por categoría:
category
Technology         3154.732098
Shoes              1823.382106
Clothing            899.806170
Cosmetics           121.332569
Toys                108.162199
Books                45.494041
Souvenir             34.873795
Food & Beverage      15.641341
Name: price, dtype: float64
cantidad datos año;  99338

In [37]:
# 3.1 Crear un DataFrame limpio
clean_df = merged_df.copy()

# 3.2 Verificar integridad y duplicados
clean_df = clean_df.drop_duplicates()
print("\nVerificación de duplicados eliminados:", clean_df.duplicated().sum())

# 3.3 Mostrar el nuevo DataFrame limpio
print("\nDataFrame limpio y listo para análisis:")
print(clean_df.head(50))

Verificación de duplicados eliminados: 0

DataFrame limpio y listo para análisis:
   invoice_no customer_id         category  quantity    price invoice_date  \
0     I138884     C241288         Clothing         5  1500.40   05-08-2022
1     I317333     C111565            Shoes         3  1800.51   12-12-2021
2     I127801     C266599         Clothing         1   300.08   09-11-2021
3     I173702     C988172            Shoes         5  3000.85   16-05-2021
4     I337046     C189076            Books         4    60.60   24-10-2021
5     I227836     C657758         Clothing         5  1500.40   24-05-2022
6     I121056     C151197        Cosmetics         1    40.66   13-03-2022
7     I293112     C176086         Clothing         2   600.16   13-01-2021
8     I293455     C159642         Clothing         3   900.24   04-11-2021
9     I326945     C283361         Clothing         2   600.16   22-08-2021
10    I306368     C240286  Food & Beverage         2    10.46   25-12-2022
11    I139207     C191708            Books         1    15.15   28-10-2022
12    I640508     C225330             Toys         4   143.36   31-07-2022
13    I179802     C312861         Clothing         2   600.16   17-11-2022
14    I336189     C555402         Clothing         2   600.16   03-06-2022
15    I688768     C362288            Shoes         5  3000.85   07-11-2021
16    I294687     C300786            Books         2    30.30   16-01-2021
17    I195744     C330667  Food & Beverage         3    15.69   05-01-2022
18    I993048     C218149         Clothing         2   600.16   26-07-2021
19    I992454     C196845             Toys         4   143.36   07-03-2023
20    I183746     C220180         Clothing         1   300.08   15-02-2023
21    I412481     C125696  Food & Beverage         1     5.23   01-05-2021
22    I823067     C322947         Clothing         2   600.16   18-06-2022
23    I252275     C313348       Technology         5  5250.00   26-10-2021
24    I174250     C204553            Books         5    75.75   16-12-2022
25    I195396     C285161             Toys         2    71.68   16-05-2021
26    I196704     C289625        Cosmetics         5   203.30   20-04-2022
27    I217053     C192344            Shoes         4  2400.68   10-10-2022
28    I655874     C447138            Shoes         3  1800.51   23-08-2022
29    I209744     C251229        Cosmetics         3   121.98   29-04-2021
30    I161949     C159164             Toys         3   107.52   04-07-2022
31    I331891     C501658         Clothing         1   300.08   21-11-2021
32    I768348     C176727            Shoes         3  1800.51   23-02-2022
33    I109053     C232624         Clothing         4  1200.32   11-07-2021
34    I167211     C164092            Shoes         4  2400.68   30-08-2022
35    I339732     C276887  Food & Beverage         1     5.23   04-01-2023
36    I147062     C245456         Clothing         5  1500.40   21-06-2022
37    I187519     C450287         Clothing         2   600.16   08-07-2022
38    I106674     C204279         Clothing         2   600.16   27-02-2022
39    I473411     C452806         Clothing         1   300.08   19-12-2022
40    I246550     C716788  Food & Beverage         3    15.69   10-09-2021
41    I138674     C155059        Cosmetics         2    81.32   14-02-2022
42    I752693     C306662        Cosmetics         3   121.98   28-04-2022
43    I826174     C607615            Shoes         4  2400.68   20-06-2022
44    I296025     C120164            Shoes         3  1800.51   21-04-2022
45    I117291     C134449            Books         5    75.75   09-12-2022
46    I267193     C317818        Cosmetics         3   121.98   12-01-2023
47    I205366     C241642         Clothing         4  1200.32   07-11-2022
48    I269690     C126436        Cosmetics         3   121.98   07-02-2022
49    I304265     C653385            Books         5    75.75   13-06-2021

        shopping_mall  gender   age payment_method
0              Kanyon  Female  28.0    Credit Card
1      Forum Istanbul    Male  21.0     Debit Card
2           Metrocity    Male  20.0           Cash
3        Metropol AVM  Female  66.0    Credit Card
4              Kanyon  Female  53.0           Cash
5      Forum Istanbul  Female  28.0    Credit Card
6        Istinye Park  Female  49.0           Cash
7    Mall of Istanbul  Female  32.0    Credit Card
8           Metrocity    Male  69.0    Credit Card
9              Kanyon  Female  60.0    Credit Card
10          Metrocity  Female  36.0           Cash
11  Emaar Square Mall  Female  29.0    Credit Card
12          Metrocity  Female  67.0     Debit Card
13        Cevahir AVM    Male  25.0           Cash
14             Kanyon  Female  67.0    Credit Card
15     Viaport Outlet    Male  24.0    Credit Card
16          Metrocity    Male  65.0     Debit Card
17       Zorlu Center  Female  42.0    Credit Card
18       Metropol AVM  Female  46.0           Cash
19        Cevahir AVM    Male  24.0           Cash
20  Emaar Square Mall    Male  23.0    Credit Card
21        Cevahir AVM  Female  27.0           Cash
22        Cevahir AVM    Male  52.0    Credit Card
23             Kanyon    Male  44.0           Cash
24          Metrocity  Female  42.0           Cash
25       Istinye Park    Male  51.0     Debit Card
26   Mall of Istanbul  Female  25.0    Credit Card
27  Emaar Square Mall    Male  50.0           Cash
28        Cevahir AVM  Female  65.0           Cash
29       Istinye Park    Male  29.0    Credit Card
30   Mall of Istanbul  Female  66.0     Debit Card
31  Emaar Square Mall    Male  23.0    Credit Card
32             Kanyon  Female  32.0    Credit Card
33          Metrocity    Male  51.0     Debit Card
34       Zorlu Center  Female  66.0    Credit Card
35  Emaar Square Mall    Male  68.0    Credit Card
36             Kanyon    Male  43.0    Credit Card
37          Metrocity  Female  59.0    Credit Card
38             Kanyon    Male  54.0           Cash
39       Metropol AVM    Male  24.0           Cash
40       Zorlu Center  Female  49.0           Cash
41       Metropol AVM    Male  67.0    Credit Card
42          Metrocity  Female  48.0           Cash
43          Metrocity  Female  40.0           Cash
44             Kanyon  Female  41.0    Credit Card
45       Zorlu Center    Male  46.0    Credit Card
46   Mall of Istanbul  Female  19.0    Credit Card
47       Zorlu Center  Female  43.0     Debit Card
48       Zorlu Center    Male  18.0     Debit Card
49     Forum Istanbul  Female  22.0     Debit Card